<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <header>
            <h1><%= title %></h1>
        </header>
        <nav>
            <span><a title="主頁面" href="/">Home</a></span>
            <span><a title="登陸" href="/login">Login</a></span>
            <span><a title="註冊" href="/reg">register</a></span>
        </nav>
        <artcle>
            
